{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/84f2b3abf2.js" crossorigin="anonymous"></script>
    <script src="{% static 'main/js/burger.js' %}"></script>
    <script src="{% static 'main/js/update_money.js' %}"></script>
    <title>{% block title %}{% endblock %} - Negrucoin</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header__body">
                <a href="{% url 'index' %}" class="header__logo">
                    <img src="{% static 'main/new_logo.png' %}" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <a href="{% url 'index' %}" class="header__logo__mobile">
                    <img src="{% static 'main/new_logo.png' %}" alt="">
                </a>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="{% url 'index' %}" class="header__link">Главная</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">Биржа</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">Аукционы</a>
                        </li>
                        <li>
                            <a href="#" class="header__link">О нас</a>
                        </li>
                    </ul>
                </nav>

                <div class="header__login">
                    {% if request.user.is_authenticated %}
                        <div class="user__balance pc_flex">
                            <div class="user__money">{{ request.user.client.calculate_money }}</div>
                        </div>
                        <div class="user_button"><i class="fa-solid fa-user"></i></div>
                    {% else %}
                        <a href="{% url 'login' %}" class="basic_button">Войти</a>
                        <a href="{% url 'sign-in' %}" class="basic_button">Зарегистрироваться</a>
                    {% endif %}
                </div>

                {% if request.user.is_authenticated %}
                    <nav class="user__menu">
                        <ul class="user__list">
                            <li>
                                <div class="user__balance mobile_flex">
                                    Баланс:
                                    <div class="user__money">{{ request.user.client.calculate_money }}</div>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="user__link">Профиль</a>
                            </li>
                            <li>
                                <a href="#" class="user__link">Уведомления</a>
                            </li>
                            <li style="margin-top: 5vh;">
                                <a href="{% url 'logout' %}" class="user__link logout_button">
                                    Выйти <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="overlay"></div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="content">
        {% block body %}{% endblock %}
    </div>
</body>
</html>