.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #623a97;
    z-index: 4;
}
.content {
    color: #364364;
    margin: 9vh auto;
    text-align: center;
}
.header__body {
    position: relative;
    display: flex;
    align-items: center;
    height: 9vh;
}
.header__logo {
    overflow: hidden;
    position: relative;
    z-index: 5;
    max-height: 100%;
    display: none;
}
.header__logo img {
    display: block;
    border-radius: 50%;
    height: 4vh;
    margin-left: 15px;
}
.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    margin-left: 10px;
}
.header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
}
.header__burger.active span {
    transform: scale(0);
}
.header__burger:before,
.header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.header__burger:before {
    top: 0;
}
.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger:after {
    bottom: 0;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.header__menu {}
.header__menu.active {}
.user__menu {}
.user__menu.active {}
.header__list {
    display: block;
    margin: 12vh 0 5px 0;
    padding: 0;
}
.header__list li {
    list-style: none;
    margin: 0 0 3vh 20px;
}
.header__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 8vw;
    text-decoration: none;
}
.header__logo__mobile {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 5;
    max-height: 100%;
    margin: auto auto;
    justify-self: center;
}
.header__logo__mobile img {
    display: block;
    border-radius: 50%;
    max-height: 5.5vh;
}
.header__login {
    display: flex;
    z-index: 5;
    margin: 0 10px;
}
.user_button {
    padding: 7px;
    background-color: #fff;
    border-radius: 5px;
    width: 4vh;
    height: 4vh;
    text-align: center;
    font-size: 2vh;
}
.user__menu {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    height: 100%;
    background-color: #321d48;
    padding: 0;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 3;
    margin-top: 9vh;
    box-shadow: 0 0 10px #000;
}
.user__list {
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
    margin: 3vh 0 5px 0;
}
.user__list li {
    list-style: none;
    margin: 0 0 3vh 20px;
}
.user__link {
    color: #fff;
    font-size: 5vw;
    text-decoration: none;
}
.overlay {
    content: '';
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    display: none;
}
.overlay.active {
    display: block;
}

@media (max-width: 768px) {
    .header__menu {
        position: fixed;
        top: -110%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #321d48;
        padding: 0;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu.active {
        top: 0;
    }
    .user__menu.active {
        right: -30%;
    }
}

@media (min-width: 769px) {
    .header__burger {
        display: none;
    }
    .header__list {
        display: flex;
        position: relative;
        z-index: 4;
        margin: 0;
    }
    .header__list li {
        margin: 0 0 0 20px;
    }
    .header__body {
        height: 8vh;
    }
    .content {
      margin: 8vh auto;
    }
    .header__logo img {
        max-height: 7vh;
    }
    .header__link {
        font-size: 2vw;
    }
    .header__logo {
        display: block;
    }
    .header__logo__mobile {
        display: none;
    }
    .header__login {
        margin: 0 10px 0 auto;
    }
    .user_button {
        width: 4vh;
        height: 4vh;
        font-size: 2.5vw;
    }
    .user__menu {
        right: -110%;
        margin-top: 8vh;
    }
    .user__menu.active {
        right: -60%;
    }
    .user__list li {
        margin: 0 0 2.4vh 20px;
    }
    .user__link {
        font-size: 2.5vh;
    }
}

@media (min-width: 993px) {
    .header__body {
        height: 6vh;
    }
    .content {
      margin: 6vh auto;
    }
    .header__logo img {
        max-height: 5vh;
    }
    .header__link {
        font-size: 21px;
    }
    .user_button {
        width: 3.5vh;
        height: 3.5vh;
        font-size: 2vh;
    }
    .user__menu {
        top: -110%;
        right: 5vh;
        margin-top: 5vh;
        width: 15%;
        height: auto;
    }
    .user__menu.active {
        top: 0;
        right: 5vh;
    }
    .user__list li {
        margin: 0 0 2vh 20px;
    }
    .user__link {
        font-size: 2vh;
    }
}