*, *::before, *::after {
    box-sizing: border-box;
}
body {
  background-color: #f2f4f9;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
body.lock {
    overflow: hidden;
}

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.description{
  color: #848484;
  display: block;
  margin-bottom: 10px;
}
input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.basic_button {
    padding: 5px;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: all .25s ease-in;
}
.logo_img {
    width: min(350px, 80%);
}
.auth_form {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 15px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
.auth_form__field {
    width: 100%;
    padding: 10px;
}
.field__title {
    text-align: left;
    font-weight: bold;
}
.field__title:after {
    content: ":";
}
.field__input {
    width: 100%;
}
.field__input input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    height: 40px;
}
.auth_form__submit {
    width: 100%;
    text-align: center;
    margin: 10px 10px;
}
.auth_form__submit button {
    width: 100%;
    border: 0;
    background-color: rgb(98 58 151 / 62%);
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 3px;
    padding: 8px 0;
}
.auth_form__help {
    width: 100%;
    margin-top: 15px;
}
.auth_form__help a {
    text-decoration: none;
}
.auth_form__error {
    background-color: rgb(255 0 0 / 45%);
    padding: 10px;
    width: 100%;
    margin: 10px;
    text-align: left;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
}

.auth_form__error:before {
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    margin: 3px 5px;
    border-radius: 50%;
}

.field__error {
    background-color: rgb(255 0 0 / 45%);
    color: #fff;
    padding: 3px;
    text-align: left;
}
.field__error ul {
    margin: 0;
}
.row {
    margin-bottom: 300px;
    margin-top: 180px;
}

@media (max-width: 768px) {
    .row {
        margin-top: 100px;
    }
}
@media (min-width: 769px) {
    .row {
        margin-top: 140px;
    }
}
@media (min-width: 993px) {
}
